*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    width: 100%;
    padding: 10px 0;
    background-color: black;
}
header nav{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header nav .logo{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-left: 20px;
}
header nav ul li a{
    color: white;
    font-size: 20px;
}