*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    width: 100%;
    padding: 10px 0;
    background-color: black;
}
header nav{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}